
@model BL.ErrorException

<h1>Error</h1>
<p>Status Code: @Model.StatusCode</p>
<p>Error Message: @Model.Message</p>
@if (!string.IsNullOrEmpty(Model.Details))
{
    <p>Error Details: @Model.Details</p>
}